$card-width: 50px;
$card-height: 85px;
$card-border-radius: 3px;
$font-size: 14px;
$background-color: white;
$card-background: white;
$card-border: 2px solid black;
$box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);

.card {
    // See aditional .card styles in App.scss
    background-color: white;
    &__back {
        pointer-events: none;
        height: 100%;
        width: 100%;
        background: 
            repeating-conic-gradient(#808080 0% 25%, transparent 0% 50%) 
                50% / 10px 10px
    }

    &__front {
        pointer-events: none;
        height: 100%;
        width: 100%;
        background: $background-color;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &_info {
            display: flex;
            justify-content: space-between;

            &-color-black {
                color: black;
            }

            &-color-red {
                color: red;
            }

            &-text {
                font-size: $font-size;
                font-weight: bold;
                width: 30px;
                margin: 0;
            }

        }
        &_info-top {
            transform: rotate(360deg);
        }

        &_info-bottom {
            transform: rotate(180deg);
        }
    }
    
}

