$card-width: 100px;
$card-height: 150px;
$card-border-radius: 10px;
$font-size: 20px;
$background-color: green;
$card-background: white;
$card-border: 2px solid black;
$box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);

.card {
    width: $card-width;
    height: $card-height;
    background-color: $card-background;
    border-radius: $card-border-radius;
    box-shadow: $box-shadow;
    padding: 0px !important;
    position: relative;
    border: $card-border;

    &__back {
        height: 100%;
        width: 100%;
        background: 
            repeating-conic-gradient(#808080 0% 25%, transparent 0% 50%) 
                50% / 10px 10px
    }

    &__front {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &_info {
            display: flex;
            justify-content: space-between;

            &-color-black {
                color: black;
            }

            &-color-red {
                color: red;
            }

            &-text {
                font-size: $font-size;
                font-weight: bold;
                width: 30px;
                margin: 0;
            }

        }
        &_info-top {
            transform: rotate(360deg);
        }

        &_info-bottom {
            transform: rotate(180deg);
        }
    }
    
}

